<div style="font-style:italic">
Thank you very much for completing the survey in Part 1. This is the second and final portion of the survey, and will last 6 minutes total. 
</div>
<br>
You will be presented with <span style="color:#1E487D;font-weight:bold;">two passages</span> to read, and several short questions to answer about the passages. <span style="color:#548DD4">Music will be playing in the background for one of the two passages</span>. It may be on the first passage or the second passage. 
<br>
<br>
<span style="font-weight:bold">Before beginning:</span>
<br>
<span >Please test your speakers/headphones</span> so that the music you hear is at a medium noise level : that is, loud enough so you can hear it, but also soft enough so you could hear someone sitting at an arms length away. Please ensure that the area around you is as quiet as possible, besides the background music. Use the following audio clip to test the volume of your speakers/headphones.
<br>
<br>
<div id="play_stop_button" class="button">Play/Stop</div>
<br>
<br>
<span style="font-weight:bold">Once you begin:</span>
<br>
You will be presented with a passage to read, and will be given 2 minutes to read it. (There will be a timer at the top of the screen.)
After 2 minutes, you will be presented with 5 True/False questions on the passage. You will have 1 minute to complete these. Please answer all five questions. 
You will then be shown a second passage to read, and will be given 2 minutes to read it. 
Following that, there will be 5 True/False questions on the second passage. You will again have 1 minute to complete them. 
<br><br>
<div class="button" id="next">
<%= link_to 'Next', new_record_path %>
</div>
<br>
<div id="sound_element"></div>