<h2 id="countdown">
</h2>

<h1 id="title"></h1>

<div id="sound_element"></div>

<div id="problem_one_passage">
   The study of the memory codes used for musical pitch is one of the oldest in experimental psychology, beginning with Helmholtz, Fechner, Stumpf and Wundt. Indeed, the Gestalt psychology movement was launched with the following question: how is it that a melody composed of specific musical pitches retains its identity despite transposition and when none of the original pitches are present? A related question is that of why some people are able to label all the notes of the musical scale as effortlessly as most of us label colors – a phenomenon known as absolute pitch (AP). Recent findings from neuroimaging, psychophysics, developmental psychology and cognitive science are converging to create a critical mass of knowledge on which to build new theories and experiments. 
   Research on absolute pitch has grown exponentially over the past 120 years. Defined as the ability either to identify the chroma (pitch class) of a tone presented in isolation or to produce a specified pitch without external reference, AP occurs in 1 in 10,000 people. People with AP presumably possess an internal template to map musical tones to linguistic labels. Sometimes regarded as a mark of musicianship, AP is in fact largely irrelevant to most musical tasks. Being unable to turn it off, possessors of AP perform dramatically poorer at judging whether a melody and its transposed counterpart are the same, a task that non-AP musicians accomplish with ease. 
   Comparisons are often made between color labelling in most humans and pitch labelling in AP possessors, because AP possessors categorize and label pitches quite effortlessly and automatically. However, the human visual system is constructed in such a way as to allow discrete categories to emerge readily: information about color is separated into three (or sometimes four) streams by cones in the retina, and remains separated up to the cortex. By contrast, information from the cochlea and peripheral auditory system is much more continuous and lacks the one-to-one mapping between excitation patterns and percepts. Accordingly, pitch and color perception are phenomenologically different: colors are experienced as belonging to categories; pitches are experienced (by most of us) as continuous. The fact that some individuals place pitches into categories requires explanation of what is different about these individuals in their development or neural architecture. 
</div>

<div id="problem_two_passage">
  Since the age of phrenology, neuroscientists have tried to relate extraordinary skills to changes in brain anatomy. For example, at the beginning of the twentieth century, Auerbach reported that the middle and posterior thirds of the superior temporal gyrus were larger than normal in several post-mortem studies of the brains of famous musicians. Modern brain-imaging techniques, such as high-resolution magnetic resonance imaging (MRI), allow us to study anatomical details in the brains of living humans. Studies in which these techniques have been used have shown that several brain areas, including the planum temporale, the anterior corpus callosum, the primary hand motor area and the cerebellum, differ in their structure and size between musicians and control subjects. These findings have reopened the debate about whether these structural differences are related directly to musical ability. 
  Asymmetry of the planum temporale has been suggested as a marker of cerebral dominance, because its direction and size correlate with handedness. In two independent samples, musicians with absolute pitch (AP) had a more pronounced leftward planum temporale asymmetry than did musicians with relative pitch (RP) or non-musician controls; another study found no significant difference in planum temporale volume between musicians with AP and those with RP. However, when compared with a large sample of right-handed non-musician controls, musicians with AP again showed a larger left planum temporale. 
  Amunts and colleagues have estimated the size of the primary hand motor area by determining the intrasulcal length of the posterior bank of the precentral gyrus in linearly normalized MRI images. Musicians had a greater intrasulcal length on both sides, but more so on the right, non-dominant hemisphere, resulting in reduced asymmetry scores for this area in musicians. There was a strong negative correlation between the time at which musical training had begun and the size of the right- and left-hand motor areas. This was reflected behaviourally by reduced asymmetry in measurements of hand skill and a negative correlation between hand-skill asymmetry and the age at which musical training started.   
</div>
<div class="user">
Please re-enter your anonymous id phrase from part 1 of the survey:
</div>
<br>
<input class="user" id="username" type="text"></input>
<br><br>
<div class="user button" id="user_button">
  Submit
</div>

<%= render 'form' %>

<%= link_to 'Back', records_path %>
